@import './../commons.less';

.Banner {
    .content-width-mix();
    text-align: center;

    padding: 5.750em 0;
}

.Banner__heading {
  .h2-mix();
}

.Banner__description {
  .p-description-mix();
  margin: auto auto 1.667em;
  width: 70%;
}

.Banner__button {
  display: inline-block;
  .cta-btn-mix();
  margin-bottom: 1.900em;
}

.Banner__example-img {
  max-width: 80%;
}