@import './../commons.less';

.HeaderMobile {
  background-color: #ffffff;
  .display(flex); 
  .justify-content(space-between);
  .align-items(center);
  padding: 1rem;
}

.HeaderMobile__hamburger-icon {
  color: @main-cl;
}