@import './../node_modules/lesshat/lesshat.less';


// ==============================================
// Functions
// ==============================================

// These are mixins as functions
// Availble in Less.js v. 3 and higher
// Some editors do not recognize the usage and complain
// This is valid syntax 

.to(@target, @context: 16 ) {
    @em: ((@target / @context) + 0em);
}

.toR(@target, @context: 16 ) {
    @rem: ((@target / @context) + 0rem);
}


// ==============================================
// Media Queries
// ==============================================

@menu-fold: ~'screen and (min-width: 1201px)';
@below-1200:  ~'screen and (max-width: 1200px)';
@above-1200: ~'screen and (min-width: 1201px)';

@btw-920-1200:  ~'screen and (min-width: 921px) and (max-width: 1200px)';
@btw-720-920:  ~'screen and (min-width: 721px) and (max-width: 920px)';
@below-920: ~'screen and (max-width: 920px)';

@below-720: ~'screen and (max-width: 720px)';
@above-720: ~'screen and (min-width: 721px)';

@below-640: ~'screen and (max-width: 640px)';

// ==============================================
// Variables
// ==============================================


// Layout
@content-max-width: 1140px;
@tablet-max-width: 520px;
@below-720-width: 85%;
@hn-content-margin: 5.938rem;


// Color variables

@accent-cl: #FF7043;
@main-cl:  #039BE5;
@base-cl: #6B7C93;
@p-cl: #6B7C93; 
@h3-cl:  #6B7C93;

@clients-bg: #F6F9FC;

@policies-head-cl: #016CB7;
@placeholder-cl: #9BA9BB;

// HN App 
@hn-accent-cl: #4A47E9;
@hn-orange:  #ed6535;
@hn-text-cl: #000000;
@hn-message-cl: #515151;
@hn-nav-cl: #FFFFFF;
@hn-tile-bg: #F6F6F6;
@hn-heart-unselected: #A0A0A0;




// ==============================================
// Typography
// ==============================================


// Font size variables

// Typography variables
@base-font: 'Lato', sans-serif;
@accent-font:  'Montserrat', sans-serif;

@hn-font: 'Roboto Mono', monospace;


// ==============================================
// Mixins
// ==============================================

.h1-mix(@color: @main-cl) {
    font-family: @accent-font;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: .to(62)[@em];
    letter-spacing: 1px;
    color: @color;
    
    @media @below-1200 {
        font-size: .toR(50)[@rem];
        line-height: .to(70, 50)[@em];
    }

    @media @below-920 {
        font-size: 2rem;
        line-height: .to(43, 32)[@em];
        letter-spacing: 0.580645px;
    }
}

.h2-mix() {
    font-family: @accent-font;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 3.125rem;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;

    @media @below-720 {
        font-size: 2.750rem;
    }
}

.h2-policies-mix() {
    font-family: @accent-font;
    font-style: normal;
    font-weight: 300;
    line-height: 1.227em;
    font-size: 2.750rem;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;

    @media @below-720 {
        line-height: 1.344em;
        font-size: 2rem;
    }
}

.h3-mix() {
    font-family: @accent-font;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 1.500rem;
    letter-spacing: 0.74px;
    color: @h3-cl;

    @media @below-720 {
        font-size: 1.250rem;
    }
}

.h3-contact-mix() {
    font-family: @accent-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.750rem;
    text-align: center;
    color: #FFFFFF;

    @media @below-720 {
        line-height: 1.344em;
        font-size: 2rem;
    }
}

.placeholder-text-mix() {
    font-family: @base-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
    color: @placeholder-cl;


}

.h4-policies-mix() {
    font-family: @accent-font;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1rem;
    letter-spacing: 0.74px;
    color: @main-cl;
}

.p-description-mix() {
    font-family: @base-font;
    font-style: normal;
    font-weight: 300;
    line-height: 1.583em;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;

    @media @below-720 {
        font-weight: normal;
        line-height: 1.375em;
        font-size: 1rem;
    }
}

.p-features-mix() {
    font-family: @base-font;
    font-style: normal;
    font-weight: normal;
    line-height: 2em;
    font-size: 1rem;
    letter-spacing: 0.74px;  
    color: #6B7C93;
}

.p-policies-mix() {
    font-family: @base-font;
    font-style: normal;
    font-weight: normal;
    line-height: 1.313em;
    font-size: 1rem;

    color: #6B7C93;
}

.nav-text-mix(@color: #FFFFFF) {
    font-family: @base-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
    color: @color;
}

.btn-text-mix(@color: #FFFFFF) {
    font-family: @base-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.250rem;
    text-align: center;
    color: @color;

    @media @below-720 {
        font-size: 1.250rem;
    }
}

.footer-text-mix() {
    font-family: @base-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;;
    color: @main-cl;
}

.copyright-text-mix() {
    font-family: @base-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 0.875rem;
    color: @p-cl;
}

.cta-btn-mix() {
    .btn-text-mix();
   background-color: @accent-cl;
   padding: 0.750em 0;
   width: 240px;
   box-shadow: 0px 2px 2px rgba(127, 32, 2, 0.475175);
   .border-radius(5px);
}

.content-width-mix() {
    max-width: @content-max-width;
    margin: auto;
}

// HN App Typography

.hn-nav-text-mix() {
    font-size: 0.750rem;
    font-family: @hn-font;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: @hn-nav-cl;
}

.hn-story-text-mix() {
    font-size: 0.750rem;
    font-family: @hn-font;
    font-weight: normal;
    line-height: normal;
    color: @hn-text-cl;
}

.hn-message-mix() {
    font-size: 1.4rem;
    font-family: @hn-font;
    font-weight: normal;
    line-height: normal;
    color: @hn-message-cl;
}

.hn-message-cta-mix() {
    font-size: .750rem;
    font-family: @hn-font;
    font-weight: normal;
    line-height: normal;
    color: @hn-message-cl;
    color: @hn-accent-cl;
}

// HN App Layout Mixins
.selected-storty-shadow() {
    -webkit-box-shadow: .333em .333em 0 0 rgba(237,102,53,1);
    -moz-box-shadow: .333em .333em 0 0 rgba(237,102,53,1);
    box-shadow: .333em .333em 0 0 rgba(237,102,53,1);
}