@import './../commons.less';


.Solutions {
  .content-width-mix();
  padding: 6.375em 4.5em 0;

 .display(flex);

  @media @mobile {
    display: block;
  }
}

.Solutions__heading, .Solutions__features {
  width: 50%;
}

.Solutions__features-icon {
  margin-top: .5em;
}

.Solutions__heading {
  .h1-mix();
}

.Solutions__features-item {
 .display(flex);
  align-items: flex-start;

  padding-left: 5em;

  &:not(:last-child) {
    margin-bottom: 3.875em;
  }
}

.Solutions__features-box {
  margin-left: 2.750em;
}

.Solutions__features-heading {
  .h3-mix();

  margin-bottom: 0.833em;
}

.Solutions__features-description {
  .p-features-mix();
}
