@import './../commons.less';


.Solutions {
  .content-width-mix();
  padding: 6.375rem 4.5rem 0;

 .display(flex);
}

.Solutions__heading, .Solutions__features {
  width: 50%;
}

.Solutions__heading {
  .h1-mix();
}

.Solutions__features-item {
  .display(flex);
   align-items: flex-start;
 
   padding-left: 5rem;
 
   &:not(:last-child) {
     margin-bottom: 3.875rem;
   }
 }
 
 .Solutions__features-box {
   margin-left: 2.750rem;
 }

.Solutions__features-icon_desktop {
  margin-top: .5rem;
}

.Solutions__features-icon_mob {
  @media @above-1200 {
    display: none;
  }
}

.Solutions__features-heading-text {
  .h3-mix();

  margin-bottom: 0.833rem;
}

.Solutions__features-description {
  .p-features-mix();
}

@import './Solutions.mobile.less';